.alert-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.alert-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-actions .delete-alert {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.alert-actions .delete-alert:hover {
    background-color: #e60000;
}
